@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

.fondoPrincipal {
  background-image: url(../img/fondo.jpg);
  background-size: cover; }

header {
  background-color: #6d356d;
  color: saddlebrown;
  width: 100%;
  height: 70px;
  margin-bottom: 0px;
  position: sticky;
  top: 0;
  z-index: 1; }
  header #aMargin {
    padding: 0px; }
  header nav .imgLogo {
    width: 130px;
    height: 60px;
    float: left;
    margin-top: 9px; }
  header nav ul {
    list-style: none;
    display: flex;
    justify-content: center; }
    header nav ul li {
      margin-top: 20px; }
    header nav ul a {
      color: #fa63fa;
      text-decoration: none;
      font-size: 23px;
      padding: 40px; }

ul li a:hover {
  background-color: cornsilk;
  padding: 25px 40px 25px 40px; }

/*arranca titulo*/
.tituloPrincipal {
  text-align: center;
  margin-top: 200px; }
  .tituloPrincipal .principal {
    color: #eedcdc;
    font-family: 'Merriweather', serif;
    font-size: 40px;
    animation-duration: 6s;
    animation-name: principal;
    animation-iteration-count: infinite; }

@keyframes principal {
  0% {
    opacity: 1;
    color: yellow;
    transform: scale(1.1, 1.3); }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  .tituloPrincipal .principal1 {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    animation-duration: 6s;
    animation-name: principal1;
    animation-iteration-count: infinite; }

@keyframes principal1 {
  0% {
    opacity: 0; }
  50% {
    color: yellow;
    opacity: 1; }
  100% {
    opacity: 0; } }

.avion {
  padding: 50px;
  margin-top: 100px;
  transition: all 4s ease; }

.avion:hover {
  transform: translate(4000px); }

p {
  font-size: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

h1 {
  color: #ff4d4d;
  font-size: 50px;
  font-family: 'Merriweather', serif;
  text-align: center; }

/*arranca fotos pagina principal */
.mapasYTexto {
  display: flex;
  margin: 160px 80px 0px 80px;
  text-align: center;
  transition: all 2s ease; }
  .mapasYTexto .mapa {
    opacity: .7;
    box-shadow: 3px 3px 14px #ccc;
    margin: 20px;
    background-color: rgba(128, 128, 128, 0.726);
    transition: all 2s ease; }
    .mapasYTexto .mapa .textoMapa {
      padding-right: 80px;
      padding-left: 80px;
      font-size: 20px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      color: #f8e7e7;
      word-spacing: 5px; }
  .mapasYTexto .mapa:hover {
    opacity: 1; }

.mapasYTexto:hover {
  transform: scale(1.1, 1.2); }

.bodyServicios {
  background-image: url(../img/porquee.jpg); }

main .SeccionServicios {
  margin-top: 150px;
  width: 100%;
  height: 700px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 3fr 5fr 5fr;
  grid-template-areas: "textoPrincipal textoPrincipal foto foto" "texto1 texto2 foto foto" "texto3 texto4 foto foto"; }
  main .SeccionServicios .hijo {
    padding: 5px 40px 5px 40px;
    background-color: #f7e0f3; }
  main .SeccionServicios .texto1 {
    grid-area: texto1; }
  main .SeccionServicios .texto2 {
    grid-area: texto2; }
  main .SeccionServicios .texto3 {
    grid-area: texto3; }
  main .SeccionServicios .texto4 {
    grid-area: texto4; }
  main .SeccionServicios .foto {
    grid-area: foto; }
  main .SeccionServicios .textoPrincipal {
    grid-area: textoPrincipal;
    padding-top: 30px; }
    main .SeccionServicios .textoPrincipal .subtituloServicios {
      font-size: 35px;
      padding-bottom: 10px;
      padding-top: 15px; }
    main .SeccionServicios .textoPrincipal .textoServicios {
      font-size: 17px;
      color: #5c0e58; }
  main .SeccionServicios .tituloTextoServ {
    font-size: 30px;
    padding-bottom: 10px; }
  main .SeccionServicios .hijo img {
    display: flex;
    justify-content: start; }

porque elegirnos
.bodyPorqueElegirnos {
  background-color: #d4d1d1; }

.porqueElegirnos {
  text-align: center; }
  .porqueElegirnos .subPorque {
    background-image: url(../img/porquee.jpg);
    color: #daffff;
    font-size: 18px;
    margin: 10px 30px; }

.textoPorqueElegirnos {
  margin: 40px 40px;
  display: flex; }
  .textoPorqueElegirnos .textoSepararPorque {
    padding: 30px 25px 30px 25px; }
    .textoPorqueElegirnos .textoSepararPorque .parrafoPorque {
      font-size: 18px;
      padding-top: 7px; }

.separadoPorque {
  background-image: url(../img/casami.jpg);
  background-attachment: fixed;
  padding: 7%;
  width: 100%;
  opacity: .9; }
  .separadoPorque .textoSeparadoPorque {
    font-size: 35px;
    text-align: left;
    border-left: 1px solid blanchedalmond;
    color: black; }

.tituloNuestroPersonal {
  font-size: 50px;
  color: brown;
  margin-top: 20px;
  margin-bottom: 50px; }

.carrouselImagenes {
  box-shadow: 3px 3px 20px #909696;
  width: 350px;
  padding: 0; }

.bodyPorqueElegirnos {
  background-color: #d4d1d1; }

.porqueElegirnos {
  text-align: center; }
  .porqueElegirnos .subPorque {
    background-image: url(../img/porquee.jpg);
    color: #daffff;
    font-size: 18px;
    margin: 10px 30px; }

.textoPorqueElegirnos {
  margin: 40px 40px;
  display: flex; }
  .textoPorqueElegirnos .textoSepararPorque {
    padding: 30px 25px 30px 25px; }
    .textoPorqueElegirnos .textoSepararPorque .parrafoPorque {
      font-size: 18px;
      padding-top: 7px; }

.separadoPorque {
  background-image: url(../img/casami.jpg);
  background-attachment: fixed;
  padding: 7%;
  width: 100%;
  opacity: .9; }
  .separadoPorque .textoSeparadoPorque {
    font-size: 35px;
    text-align: left;
    border-left: 1px solid blanchedalmond;
    color: black; }

.tituloNuestroPersonal {
  font-size: 50px;
  color: brown;
  margin-top: 20px;
  margin-bottom: 50px; }

.carrouselImagenes {
  box-shadow: 3px 3px 20px #909696;
  width: 350px;
  padding: 0; }

main .subTit {
  text-align: center;
  font-size: 30px;
  margin-bottom: 70px; }

main .contenedorUltimo {
  display: flex;
  justify-content: space-evenly; }

main .festejemosJuntos {
  background-color: salmon;
  border: 2px #f07042 solid;
  padding: 0px 0px 10px 0px;
  width: 304px;
  height: 440px;
  position: relative;
  top: 70px; }

main .pastas {
  background-color: #e06659;
  border: 2px #c5574a;
  padding-bottom: 10px;
  width: 300px; }

main .cumpleAño {
  background-color: #d37065;
  border: 2px #6d2f18 solid;
  width: 305px;
  height: 450px;
  position: relative;
  top: 70px; }

main .tituloContacto {
  text-align: center; }

main .seccionContacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px; }
  main .seccionContacto .info {
    font-size: 20px;
    border: 2px  color rosybrown solid; }

main fieldset {
  width: 900px; }

.seccionGaleria {
  background-color: #130610; }

.galeria {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  margin: 100px; }
  .galeria img {
    width: 550px;
    opacity: .6;
    border: 2px double #6b216b;
    margin-right: 6px;
    margin-bottom: 15px;
    transition: all 1s ease; }
  .galeria img:hover {
    opacity: 1;
    border: 2px white solid;
    transform: scale(1.3, 1.3); }
  .galeria .fotosGaleria {
    margin-bottom: 100px; }
    .galeria .fotosGaleria h3 {
      margin-bottom: 20px;
      color: thistle; }

.paraDondeIr {
  text-align: left;
  position: relative;
  top: 400px; }

footer {
  background-color: rgba(82, 25, 82, 0.473);
  margin-top: 500px;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }
