.paraDondeIr {
    text-align: left;
    position: relative;
    top:400px;
        }
        footer {
            background-color:rgba(82, 25, 82, 0.473);
            margin-top: 500px;
            color: white;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }