.seccionGaleria {
    background-color: rgb(19, 6, 16);
   
}


    .galeria {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: center;
        margin: 100px;
       
         img {
           position: relative;
            filter: brightness(50%);
            width: 550px;
           border: 2px double rgb(107, 33, 107);
            margin-right: 6px;
            margin-bottom: 15px;
            transition: all 1s ease; 
            z-index: 2;
    
        }
            
             img:hover {
                filter: brightness(100%);
                border: 2px white solid;
                transform: scale(1.1, 1.1 );
               z-index: 3;
             
               
                
            }
           .fotosGaleria {
            margin-bottom:100px;
            h3 {
                margin-bottom: 20px;
                color: thistle;
            }
        }
         
        
       
    }
 


