main {
    .subTit {
        text-align: center;
        font-size: 30px;
        margin-bottom: 70px;
    
    
    }
    .contenedorUltimo {
        display: flex;
        justify-content: space-evenly;
    }
    .festejemosJuntos {
        background-color: salmon;
        border:2px  rgb(240, 112, 66) solid;
        padding: 0px 0px 10px 0px;
        width: 304px;
        height: 440px;
        position: relative;
        top:70px
        
         }
         .pastas {
            background-color: rgb(224, 102, 89);
            border: 2px rgb(197, 87, 74);
             padding-bottom: 10px;
             width: 300px;
         
         }
         .cumpleAño {
            background-color: rgb(211, 112, 101);
        border: 2px  rgb(109, 47, 24) solid;
        
        width: 305px;
        height: 450px;
        
        position: relative;
        top: 70px;
        
        }
}

