
.bodyPorqueElegirnos {
    background-color:rgb(212, 209, 209);  
  }
  .porqueElegirnos {
    text-align: center;

  .subPorque{
    background-image: url(../img/porquee.jpg);
    color:rgb(218, 255, 255);
    font-size: 18px;
    margin: 10px 30px;
     }
      }

      .textoPorqueElegirnos {
        margin: 40px 40px;
        display: flex;
       .textoSepararPorque {
 padding: 30px 25px 30px 25px;
 .parrafoPorque {
    font-size: 18px;
    padding-top: 7px;
      } 
       }
        
    }
    .separadoPorque {
 
        background-image: url(../img/casami.jpg);
        background-attachment: fixed;
        padding: 7%;
        width:100%;
        opacity: .9;
       
        .textoSeparadoPorque {

            font-size: 35px;
            text-align:left;
            border-left:1px solid blanchedalmond;
            color: rgb(0, 0, 0);
            
         }
       
   
    }
    
    .tituloNuestroPersonal {
        font-size: 50px;
        color: brown;
        margin-top: 20px; 
        margin-bottom:50px; 
      }
      .carrouselImagenes {
        box-shadow:3px 3px 20px rgb(144, 150, 150);
        width: 350px;
        padding:0;
       
       
    }
          